.Post img {
  width: 100%;
}

.Write-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 40px;
  padding: 40px;
  background: silver;
}

.Write-form input {
  
}

.Write-form textarea {
  
  height: 70px;
}